nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(65, 65, 65);

  h1 {
    font-size: 30px;
  }
  button {
    border: none;
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.3rem 0.6rem;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;

    &:hover {
      color: #fff;
      background-color: rgb(65, 65, 65);
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 15;
    }
    
  }
}
